<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vtuberchannel.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2.0.4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
				<key>dateExpires</key>
				<string>2025/01/13</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppCheckCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheck.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_app_badger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>93E0422C0DB48F626430DEE1CE5D9626D9728DD7</string>
						<key>dateExpires</key>
						<string>2025/01/13</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SCU9EZ2EKX</string>
						<key>name</key>
						<string>Takahiro Kuribayashi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SCU9EZ2EKX.vtuberchannel</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SCU9EZ2EKX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e270227-980f-4846-9648-3652f21453f3</string>
				<key>dateExpires</key>
				<string>2025/01/13</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: vtuberchannel</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SCU9EZ2EKX</string>
				<key>name</key>
				<string>Takahiro Kuribayashi</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.4</string>
		</dict>
	</array>
</dict>
</plist>
